div,
header,
article,
footer,
input,
span,
a,
em,
nav,
ul,
li,
i,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
    font-family: Verdana, "Lantinghei SC", "Hiragino Sans GB", "Microsoft Yahei", Helvetica, arial, \5b8b\4f53, sans-serif;
}